/* GLOBAL */
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"),
      url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
      url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
      url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"),
      url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root{
  --brand-color: #B8884B;
  --text-color:   #252D35;
}

html{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
box-sizing: inherit;
}

*:focus{
  outline: 2px dashed var(--brand-color);
  outline-offset: 3px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: "Gilroy", "Arial",sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

.container{
  width: 100%;
  max-width: 1540px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-content{
  flex-grow: 1;
}

.button {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  border: 2px solid var(--brand-color);
  text-decoration: none;
  line-height: 1;
  color: var(--brand-color);
  overflow: hidden;
  white-space: nowrap;
}

.button::before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(184, 136, 75, 0.2);
  top: 0;
  left: -100%;
  transition: .3s;
  z-index: -1;
}

.button:hover::before{
left: 0;
}

.button:active{
  opacity: 0.6;
}

.hero-button-span,
.project-button-span{
  display: flex;
}

.hero-button-span::after,
.project-button-span::after{
  display: block;
  content: "";
  width: 14px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
}

.hero-button-span::after{
  background-image: url("../img/plus-minus.svg");
}

.project-button-span::after{
  background-image: url("../img/next-light.svg");
}

.project-img-item .button{
  padding: 15px;
  max-width: 180px;
  width: 100%;
  text-align: center;
  bottom: 70px;
  left: 20px;
  right: 20px;
  background-color: rgba(241, 245, 248, 0.8);
  color: #1C242C;
  border-color: transparent;
}

.project-img-item .button:hover{
  background-color: rgba(241, 245, 248, 1);
  color: var(--brand-color);
}



/* HEADER */

.site-header {
padding-top: 30px;
padding-bottom: 20px;
border-bottom: 1px solid rgba(37, 45, 53, 0.2);

}

.header-container {
  display: flex;
  align-items: center;
}

.logo-link,
.sign-link{
  display: block;
  cursor: pointer;
  color: var(--text-color);
}

.logo-img,
.sign-img{
  display: block;
  width: 50px;
  height: 50px;
  object-fit: cover;
  flex-shrink: 0;
}
/* HEADER HOVER ACTIVE */
.logo-link:hover{
  opacity: 0.8;
}

.sign-link:hover,
.sitenav-link:hover{
  color: var(--brand-color);
}

.logo-link:active,
.sign-link:active,
.sitenav-link:active{
  opacity: 0.6;
}

/* .header-top {
}
.header-top-link {
} */

.sitenav {
  margin-right: auto;
  margin-left: auto;
}
.sitenav-lists {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.sitenav-item:not(:last-child) {
  margin-right: 40px;
}

.sitenav-link {
  text-decoration: none;
  color: var(--text-color);
  white-space: nowrap;
}

.sitenav-link:hover{
  text-decoration: 1px solid var(--brand-color) overline;
}

/* HERO SECTION */
.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 680px;
  width: 100%;
  margin-right: auto;
}

.hero-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 70px;
  line-height: 75px;

}

.hero-header-color {
  display: block;
  font-weight: 700;
  color: var(--brand-color);
}

.hero-header::after{
  display: inline-block;
content: "";
width: 151px;
height: 53px;
background-image: url("../img/sound-icon.svg");
}

.hero-content-lists {
  margin: 0;
  padding: 20px;
  margin-bottom: 30px;
  list-style: square;
  color: var(--brand-color);
}

.hero-content-item:not(:last-child){
  margin-bottom: 10px;
}

.hero-content-text{
  color: var(--text-color);
}

.hero-img-content {
  display: flex;
  flex-wrap: nowrap;
}

.hero-img {
  width: 360px;
  height: 700px;
}

.hero-img:first-child{
  margin-right: 40px;
}

/* FEATURES */
.features {
  display: flex;
  padding-top: 180px;
  padding-bottom: 180px;
}

.features-content-wrap{
  position: relative;
  max-width: 740px;
  width: 100%;
  height: 740px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-content-wrap:first-child{
  background-image: url("../img/steny.png");
  margin-right: 40px;
}

.features-content-wrap:last-child{
  background-image: url("../img/peregorodki.png");
}
.features-content {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: rgba(241, 245, 248, 0.8);
  overflow: hidden;
}

.features-content-left{
  margin-right: auto;
}

.features-header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
}

.features-info-lists {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-position: inside;
}

.features-info-item:not(:last-child) {
  margin-right: 23px;
}

.features-info-item:first-child{
  list-style: none;
}

.features-content-link {
  display: block;
  cursor: pointer;
width: 50px;
height: 58px;
border: 2px solid rgba(37, 45, 53, 0.2);
background-image: url("../img/next.svg");
background-repeat: no-repeat;
background-position: center;
background-color: transparent;
}

.features-content-link:hover{
  border-color:var(--brand-color)
}

.features-content-link::before{
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
 background-color: rgba(184, 136, 75, 0.2);
  top: 0;
  left: -100%;
  transition: .3s;
}

.features-content-link:hover::before{
  left: 0;
}
/* AFTER-BEFORE SECTION */

.before-after {
  padding-top: 180px;
  padding-bottom: 80px;
}

.before-after-content {
  text-align: center;
  margin-bottom: 50px;
}

.before-after-header {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 60px;
  line-height: 65px;
}

.before-after-text {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
}

.before-after-lists {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.before-after-item {
  width: calc(100%/6 - 2px);
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.before-after-item:not(:last-child){
  margin-right: 20px;
}

.before-after-img {
  width: 81px;
  height: 80px;
  object-fit: contain;
}

.before-after-item-header {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 50px;
  line-height: 62px;
}

.before-after-item-span {
  font-size: 30px;
  line-height: 37px;
}

.before-after-item-text {
  margin: 0;
  font-size: 20px;
  line-height: 25px;
}

/* PROJECT */

.project {
  padding-top: 180px;
  padding-bottom: 180px;

}
.project-container {
  display: flex;
  align-items: center;
}

.project-content {
  max-width: 700px;
  margin-right: 84px;
  width: 100%;
}

.project-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 70px;
  line-height: 75px;

}

.project-header-color {
  display: block;
  font-weight: 700;
  color: var(--brand-color);
}

.project-content-text {
max-width: 470px;
width: 100%;
margin-bottom: 30px;
}

.project-img-content {
  position: relative;
  top: 0;
  max-width: 740px;
  height: 750px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.project-img-content::after{
  content:"";
position: absolute;
width: 740px;
height: 40px;
background-color: transparent;
bottom: 0;
left: 0;
}

.project-img-content::-webkit-scrollbar {
  width: 740px;
  height: 10px;
}

/* Track */
.project-img-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
background-color: rgba(241, 245, 248, 0.8);
}

/* Handle */
.project-img-content::-webkit-scrollbar-thumb {
  background-color: #01305E;
  opacity: 0.1;
}

.project-img-lists {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.project-img-item {
  position: relative;
  top: 0;
  width: 220px;
  height: 700px;
}

.project-img-item:not(:last-child){
  margin-right: 40px;
}

.project-img {
  width: 220px;
  height: 700px;
}
